@model VideoClub.Web.Areas.Bookings.Models.BookingListViewModel
@{
    ViewBag.Title = "ActiveBookings";
}

<h2>Ενεργές Κρατήσεις</h2>

@if (Model.Bookings.Count() < 1)
{
    <h4 class="text-center text-danger">Δε βρέθηκαν ενεργές κρατήσεις</h4>
}
else
{
    <table class="table" id="activeBookings">
        <thead>
            <tr>
                <th scope="col">Τίτλος ταινίας</th>
                <th scope="col">Id DVD</th>
                <th scope="col">Username πελάτη</th>
                <th scope="col">Ημ/νία Επιστροφής</th>
                <th scope="col">Σχόλια διαχειριστή</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.Bookings)
            {
                <tr>
                    <td>@booking.DVD.Movie.Title</td>
                    <td>@booking.DVDId</td>
                    <td>@booking.Customer.UserName</td>
                    <td>@booking.ToBeReturned.ToString("d/M/yyyy")</td>
                    <td>@booking.Comments</td>
                    @*<td>@Html.ActionLink("Επιστροφή ταινίας", "Return", "Booking", new { bookingId = booking.Id }, new { @class = "btn btn-warning" })</td>*@
                    <td>
                        <button class="btn btn-warning js-booking-returned" data-booking-id="@booking.Id">Επιστροφή ταινίας</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('.js-booking-returned').on('click', function (e) {
                var button = $(e.target);

                bootbox.dialog({
                    title: 'Επιβεβαίωση επιστροφής',
                    message: '<p>Επιστροφή;</p>',
                    size: 'large',
                    onEscape: true,
                    backdrop: true,
                    buttons: {
                        no: {
                            label: 'Άκυρο',
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: 'Επιστροφή',
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: '@Url.Action("Return", "Booking", new { Area = "Bookings" })',
                                    method: 'POST',
                                    data: { bookingId: button.attr('data-booking-id') }
                                })
                                    .done(function (response) {
                                        button.parents('tr').fadeOut(function () {
                                            bootbox.alert(response.msg);
                                            $(this).remove;
                                        });
                                    })
                                    .fail(function () {
                                        bootbox.alert('Επιστροφή απέτυχε. Προσπαθήστε αργότερα.');
                                    });
                            }
                        }
                    }
                });
            });
        });
    </script>
} 